<?xml version='1.0' encoding='us-ascii'?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="AllRollingAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/exam.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="500" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%-6p][%t] %c - %m%n" />
		</layout>
	</appender>

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%-6p][%t] %c - %m%n" />
		</layout>
	</appender>

	<appender name="AllAsync" class="org.apache.log4j.AsyncAppender">
		<param name="locationInfo" value="false" />
		<param name="bufferSize" value="1024" />
		<appender-ref ref="AllRollingAppender" />
		<appender-ref ref="ConsoleAppender" />
	</appender>

	<!-- set log level settings here -->

	<category name="org.springframework" additivity="false">
		<priority value="error" />
		<appender-ref ref="AllAsync" />
	</category>

	<category name="org.apache.commons" additivity="false">
		<priority value="error" />
		<appender-ref ref="AllAsync" />
	</category>

	<category name="com.project" additivity="false">
		<priority value="info" />
		<appender-ref ref="AllAsync" />
	</category>


	<category name="com.examtime" additivity="false">
		<priority value="info" />
		<appender-ref ref="AllAsync" />
	</category>

	<!-- change value to debug for hibernate messages -->
	<category name="org.hibernate" additivity="false">
		<priority value="error" />
		<appender-ref ref="AllAsync" />
	</category>

	<category name="org.hibernate.type" additivity="false">
		<priority value="error" />
		<appender-ref ref="AllAsync" />
	</category>

	<category name="net.sf.ehcache" additivity="false">
		<priority value="error" />
		<appender-ref ref="AllAsync" />
	</category>

	<root>
		<priority value="info" />
		<appender-ref ref="AllAsync" />
	</root>

</log4j:configuration>
<?xml version='1.0' encoding='us-ascii'?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="AllRollingAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/exam.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="500" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%-6p][%t] %c - %m%n" />
		</layout>
	</appender>

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%-6p][%t] %c - %m%n" />
		</layout>
	</appender>

	<appender name="AllAsync" class="org.apache.log4j.AsyncAppender">
		<param name="locationInfo" value="false" />
		<param name="bufferSize" value="1024" />
		<appender-ref ref="AllRollingAppender" />
		<appender-ref ref="ConsoleAppender" />
	</appender>

	<!-- set log level settings here -->

	<category name="org.springframework" additivity="false">
		<priority value="error" />
		<appender-ref ref="AllAsync" />
	</category>

	<category name="org.apache.commons" additivity="false">
		<priority value="error" />
		<appender-ref ref="AllAsync" />
	</category>

	<category name="com.project" additivity="false">
		<priority value="info" />
		<appender-ref ref="AllAsync" />
	</category>


	<category name="com.examtime" additivity="false">
		<priority value="info" />
		<appender-ref ref="AllAsync" />
	</category>

	<!-- change value to debug for hibernate messages -->
	<category name="org.hibernate" additivity="false">
		<priority value="error" />
		<appender-ref ref="AllAsync" />
	</category>

	<category name="org.hibernate.type" additivity="false">
		<priority value="error" />
		<appender-ref ref="AllAsync" />
	</category>

	<category name="net.sf.ehcache" additivity="false">
		<priority value="error" />
		<appender-ref ref="AllAsync" />
	</category>

	<root>
		<priority value="info" />
		<appender-ref ref="AllAsync" />
	</root>

</log4j:configuration>
